:root {
    --bg-color: #ffffff;
    --bg-color-2: #dcdcdc;
    --color: #000000;
    --accent-error: #ff0000;
    --accent-warning: #ff8c00;
    --accent-info: #00ff00;
    --accent-debug: #0000ff;
    --accent-status: #58a0ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2e2e2e;
        --bg-color-2: #262626;
        --color: #ffffff;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--color);
}

p {
    margin: 0;
}

a {
    color: #58a0ff;
}

li {
    margin-left: 0;
}

hr {
    background: var(--color);
    margin: 1em 0;
}

#extension-body {
    margin: 0;
    width: 25em;
    min-width: 25em;
}

#update {
    padding: 1em 1.5em;
}

header {
    padding: 1em 1.5em;
    background-color: var(--bg-color-2);
}

h1, h2 {
    margin: 0;
    margin-bottom: 1em;
}

#title {
    font-size: 1.5em;
    text-align: center;
}

#instructions {
    padding: 1em 1.5em;
}

#status {
    display: none;
    border: 2px solid var(--accent-status);
    margin: 1px;
    border-radius: 3px;
    padding: 1em;
}

#progress-box .progress-item {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--accent-status);
    border-radius: 3px;
}

#error-box .error {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--accent-error);
    border-radius: 3px;
}

#log-box details {
    margin: 1em 0;
}

#log-box #download-logs {
    margin: 0 auto;
    padding: 0.5em;
}

#logs-panel {
    margin-top: 1em;
    max-height: 180px;
    background-color: #2e2e2e;
    overflow: scroll;
}

.log {
    padding: 0.5em;
    font: 0.8rem monospace;
}

.log span {
    padding: 0.5em 0;
}

.log-message {
    text-align: center;
    color: #ffffff;
}

.log-timestamp {
    text-align: left;
    color: #ffffff;
}

.log-level-ERROR {
    text-align: right;
    color: var(--accent-error);
}

.log-level-WARN {
    text-align: right;
    color: var(--accent-warning);
}

.log-level-INFO {
    text-align: right;
    color: var(--accent-info);
}

.log-level-DEBUG {
    text-align: right;
    color: var(--accent-debug);
}

#download-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0 1em 0;
}

#update {
    display: none;
    border: 2px solid var(--accent-status);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 0.5em;
}

#get-ical {
    margin: 0 auto;
    padding: 0.5em 1em;
}

#footer {
    padding: 1em;
    background-color: var(--bg-color-2);
    font-size: 0.8rem;
}